p{
    color: red;
    background-color: black;
    font-size: 12px;
}
h1{border: 10px solid red }
h2{border: 15px solid rebeccapurple }
h3{border: 20px solid green}
h4{border:25px solid blue}
h5{border:30px solid magenta}
H6{border:35px solid mediumspringgreen}
